@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  /* font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal; */

  font: 16px 'Source Sans Pro', sans-serif;
}

.with-border {
  /* padding: 10px;
  padding-left: 30px; */

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 30px;

  /* padding: 10px 30px 30px 20px; */

  border: 10px solid;
  border-top-color: pink;

  /* border-top-width: 10px;
  border-top-style: solid;
  border-top-color: pink;
  border-right-width: 12px;
  border-right-style: dotted;
  border-bottom-width: 18px;
  border-bottom-style: solid;
  border-left-width: 14px;
  border-left-style: dashed; */
}

.selectors {
  border: 5px solid;
}

/*
-- Useful child selectors --
  *:only-child
  *:first-child
  *:last-child
  *:nth-child(1)
  *:nth-child(odd)
  *:nth-child(even)
  *:empty
*/

.selectors *:first-child {
  border: 5px solid red;
}

.non-static-container {
  border: 2px dotted;
  padding: 20px;
  position: relative;
}

.position-container {
  border: 2px solid;
  width: 200px;
  height: 200px;
}

.position-child {
  width: 20px;
  height: 20px;
}

.blue {
  background: blue;
}

.red {
  position: absolute;
  background: red;
  top: 10px;
  left: 5px;
}
